{% extends "core/base.html" %}

{% block title %} Home {% endblock %}


{% block content %}
<div class="bg-gray-100 py-10">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-bold text-gray-800 text-center mb-8">Newest Products</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for product in products %}
            <!-- Product Card Start -->
            <div class="bg-white border border-gray-200 rounded-lg overflow-hidden shadow-md hover:shadow-lg transition-shadow duration-300">
                <img class="w-full h-48 object-cover" src="{{ product.image.url }}" alt="Product Image">
                <div class="p-4">
                    <h3 class="text-lg font-semibold text-gray-800">{{ product.name }}</h3>
                    <p class="text-gray-600 text-sm mt-1"> {{ product.description }} </p>
                    <div class="mt-4 flex justify-between items-center">
                    <span class="text-xl font-bold text-blue-500">{{ product.price }} BDT </span>
                    <button class="bg-blue-500 text-white py-1 px-3 rounded hover:bg-blue-600 transition-colors duration-300">Add to Cart</button>
                  </div>
                </div>
            </div>  
            <!-- Product Card End -->
        {% endfor %}
      </div>
    </div>
</div>

<div class="bg-gray-100 py-10">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-bold text-gray-800 text-center mb-8">Product Categories</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {% for category in categories %}
            <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300">
                <img src="{{ category.image.url }}" alt="Category Image" class="w-full h-40 object-cover">
                <div class="p-4">
                    <h3 class="text-lg font-semibold text-gray-800"> {{category.name}} </h3>
                    <p class="text-sm text-gray-600 mt-2"> {{category.description}} </p>
                </div>
                <div class="p-4">
                    <p class="text-sm text-gray-600 mt-2"> {{category.products.count}} items available </p>
                </div>
            </div>
            {% endfor %}            
        </div>
    </div>
</div>
{% endblock  %}